.torrent {
  composes: label from '~Components/Label.css';

  border-color: var(--torrentColor);
  background-color: var(--torrentColor);
}

.usenet {
  composes: label from '~Components/Label.css';

  border-color: var(--usenetColor);
  background-color: var(--usenetColor);
}

.stacks {
  composes: label from '~Components/Label.css';

  border-color: var(--stacksColor);
  background-color: var(--stacksColor);
}

.direct {
  composes: label from '~Components/Label.css';

  border-color: var(--directColor);
  background-color: var(--directColor);
}
