.path {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  flex: 4 0 400px;
  font-size: 13px;
  font-family: $monoSpaceFontFamily;
}

.size {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 100px;
}

.quality,
.dateAdded {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  width: 120px;
}

@media only screen and (max-width: $breakpointSmall) {
  .path {
    flex: 1 1 auto;
    font-family: var(--defaultFontFamily);
  }

  .size,
  .quality,
  .dateAdded {
    display: none;
  }
}
