.toolbarButton {
  composes: link from '~Components/Link/Link.css';

  padding-top: 4px;
  min-width: $toolbarButtonWidth;
  text-align: center;
  margin: 0 8px;

  &:hover {
    color: var(--toobarButtonHoverColor);
  }

  &.isDisabled {
    color: var(--disabledColor);
  }
}

.isDisabled {
  color: var(--disabledColor);
}

.labelContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
}

.label {
  padding: 0 5px;
  color: var(--toolbarLabelColor);
  font-size: $extraSmallFontSize;
  line-height: calc($extraSmallFontSize + 1px);
  white-space: nowrap;
}

@media only screen and (max-width: $breakpointSmall) {
  .toolbarButton {
    margin: 4px 6px;
    min-width: 0;
    padding: 6px 4px;
  }

  .labelContainer {
    height: 28px;
  }
}
